streamlit
pdfminer.six
sentence-transformers
scikit-learn
groq
python-dotenv
numpy
scipy
torch  ; sys_platform != "darwin"

# PDF + visualization
reportlab
pillow
matplotlib
pandas
python-dateutil

langchain
langchain-core
langchain-groq==0.1.4



# Azure cloud storage
azure-storage-blob

# Pydantic (Structured Output Schema)
pydantic

simple-salesforce

google-cloud-aiplatform
google-cloud-logging
